body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.s-color
{
    color: orange;
}
.flex-window{
display: flex;
padding-bottom: 100px;
margin-left: 100px;
}
.fle-window{
    display: flex;
    padding-bottom: 100px;
    }
.fl-window{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}
.set-width{
    width: 50%;
  
}
.set-width img{

    width: 50%;
}
h1{
    font-size: 40px;

}
.mar{
    margin-top: 100px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(Red, orange);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 500px;
    color: white;

    
}
p{
    text-align: justify;
    padding-bottom: 5%;
    padding-right: 20%
  
   
}
#bg{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.box{
    box-shadow: 10px 5px 20px gray;
    width: 40%;
    height: 20%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 30px;
    padding-right: 10px;

   
}
.rt{
    text-align: center;
}
.food-size
{
   width: 90%;
   height: 40%;
   margin-left: 5%;
   margin-top: 5%;
}
#tpos
{
    text-align: center;
    margin-left: 25%;
    margin-right: 5%;
}
.swidth{
    width: 33%;
}
#sbox{
    width: 66%;
    box-shadow: 10px 10px 40px grey;
    border-radius: 30px;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 15%;

}
.flex-win
{
    display: flex;

}
footer{
    text-align: center;
    background-color: black;

}
.ss
{
    color: white;
}

#em{
    padding-top: 3%;
    
}
#ep
{
    padding-bottom: 3%;
    text-align: center;
    padding-left: 20%;
}
.p1
{
    padding-left: 5%;
    padding-right: 5%;
    
}
#aboutpos{
    margin-top: 30%;
    
}